/* ========================================================================

                                  Global

=========================================================================*/
:root {
  --primary-blue-color: rgb(47, 89, 213);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

button {
  background-color: white;
  height: 2.75rem;
  width: 8.5rem;
  border-radius: 0.75rem;
  border-color: var(--primary-blue-color);
  color: var(--primary-blue-color);
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.25s ease, background-color 0.25s ease;
}

button:hover {
  color: white;
  background-color: var(--primary-blue-color);
  cursor: pointer;
}

/* ========================================================================

                                Header/nav

=========================================================================*/

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border: 1px solid rgb(231, 231, 231);
  padding: 1.5rem;
  box-shadow: 0 1px 14px rgba(0,0,0,0.075);
}

/* ========================================================================

                                Top Container

=========================================================================*/

.top-container {
  display: flex;
  justify-content: space-between;
}

.skip-button {
  display: block;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

/* ========================================================================

                            Card Counter & Main Card

=========================================================================*/

/* Card Counter */
.card-counter {
  display: block;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 2.75rem;
  margin: 1rem auto 0;
}

.main-card {
  display: flex;
  height: 22rem;
  width: 35rem;
  margin: 0.75rem auto 0;
  padding: 1.25rem;
  border-radius: 1.5rem;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0 10px 30px rgba(0,0,0,0.185);
}

.top-button-sign {
  display: flex;
  gap: 0.5rem;
}

.voice-sign,
.repeat-sign {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 0.5rem;
}

.words-btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  flex-direction: row;
}

.test-word-container {
  display: block;
  font-size: 5rem;
  max-width: 10rem;
  margin: 0 auto 0;
}

.test-translation {
  display: block;
  font-size: 2.2rem;
  margin: 0 auto 0;
}

.flip-card-btn {
  display: block;
  margin: 0 auto 0;
}

/* ========================================================================

                            Previous/Next Buttons

=========================================================================*/

.previous-next-btn {
  display: flex;
  justify-content: space-between;
}

.order-btn {
  display: inline-block;
  margin: 1rem auto 0;
}

/* ========================================================================

                                Result Card

=========================================================================*/

.result-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 4rem;
  margin: 1rem auto 0;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0 10px 30px rgba(0,0,0,0.185);
}

.correct-div,
.wrong-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
  width: 8.5rem;
  border-radius: 0.75rem;
  border-color: var(--primary-blue-color);
  color: var(--primary-blue-color);
  font-weight: 600;
  font-size: 0.95rem;
}

.correct-div {
  color: rgb(21, 153, 21);
  background-color: rgb(219, 255, 219);
}

.wrong-div {
  color: rgb(203, 38, 38);
  background-color: rgb(253, 221, 221);
}
