/* ========================================================================

                                  Global

=========================================================================*/
:root {
  --primary-blue-color: rgb(47, 89, 213);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

/* ========================================================================

                                Header/nav

=========================================================================*/

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: lightpink;
}

/* ========================================================================

                                Top Container

=========================================================================*/

.top-container {
  display: flex;
  justify-content: space-between;
}

.skip-button {
  display: block;
  background-color: white;
  height: 2.75rem;
  width: 8.5rem;
  border-radius: 0.75rem;
  border-color: var(--primary-blue-color);
  color: var(--primary-blue-color);
  font-weight: 600;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.skip-button:hover {
  color: white;
  background-color: var(--primary-blue-color);
  cursor: pointer;
}

/* ========================================================================

                                  Card

=========================================================================*/

.card-counter {
  display: block;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 2.75rem;
  background-color: lightblue;
  margin: 1rem auto 0;
}

.main-card {
  display: flex;
  height: 22rem;
  width: 35rem;
  background-color: beige;
  margin: 1.75rem auto 0;
  padding: 1.25rem;
  border-radius: 1.5rem;
}

.top-button-sign {
  display: flex;
  gap: 0.5rem;
}

.voice-sign,
.repeat-sign {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 0.5rem;
}

.words-btn-container {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}

.test-word-container {
  display: block;
  font-size: 5rem;
  max-width: 10rem;
}

.test-translation {
  display: block;
}

.flip-card-btn {
  display: block;
}
